
* {
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
          

#menu{
    width: 200px;
    height: 200px;
    background-color: black;
    border: 3px solid white;
    margin-left: 10px; 
    box-shadow: 3px 3px 5px white;
}

#icone_relogio{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}
#icone_alien{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}
#icone_nave{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}

.fonte{
    display: inline-block;
    justify-content: center;
    padding-left: 30px; ;
    font-family: 'times new roman', times, serif;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}

    #nave{
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 100px;
        height: 100px;
        transition: left 0.1s ease-out;
}
