* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
}

.fundo {
    position: relative;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menu {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 3px solid white;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px white;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.icones {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.fonte {
    font-family: 'times new roman', times, serif;
    color: white;
    font-size: 14px;
    margin: 0;
}

#nave {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100px;
    height: 100px;
    transition: left 0.2s ease-out;
    
}

#icone_nave {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
#pause{
    display: flex;
    width: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.fundo.paused {
    position: relative;
}

.fundo.paused::before {
    content: 'GAME PAUSED';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: white;
    font-family: 'times new roman', times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 100;
    letter-spacing: 3px;
}

.fundo.paused::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 50;
    pointer-events: none;
}
.missil {
    position: absolute;
    width: 25px;
    height: 45px;
    pointer-events: none;
    z-index: 90;
}